
            +--------------------+
            |        CS 140      |
            | PROJECT 1: THREADS |
            |   DESIGN DOCUMENT  |
            +--------------------+

---- GROUP ----

>> Fill in the names and email addresses of your group members.

黄进豪 onebitbool@gmail.com
FirstName LastName <email@domain.example>
FirstName LastName <email@domain.example>

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

                 ALARM CLOCK
                 ===========

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

timer.c 中维护了一个 time_sleep_list，用来保存被休眠的线程。在每次 ticks
被更新的时候同时迭代该链表，检查节点的睡眠时间是否已经结束，如果结束之后移除
链表并唤醒线程。

/** Sleeping threads which call time_sleep() list.
   element will be removed when its ticks ends. */
static struct list time_sleep_list;

time_sleep_list_elem 是 time_sleep_list 的链表节点结构。每个节点对应了
一个正在休眠的线程。ticks 代表线程剩下需要休眠的时间，timeout 为线程休眠的
信号量。ticks 为0后通过该信号量唤醒线程。

/** Sleeping threads which call time_sleep() list.
   element will be removed when its ticks ends. */
static struct list time_sleep_list;
/** element of time_sleep_list. */
struct time_sleep_list_elem
  {
    struct list_elem elem;
    int64_t ticks;              /**< remaining sleep ticks. */
    struct semaphore timeout;   /**< semaphore to control thread sleep or wake up. */
  };

---- ALGORITHMS ----

>> A2: Briefly describe what happens in a call to timer_sleep(),
>> including the effects of the timer interrupt handler.

time_sleep() 被调用后，检查参数如果小于等于0则直接返回。然后函数初始化
time_sleep_list_elem 并设置初始值。将 time_sleep_list_elem 添加到
time_sleep_list 中。利用信号量休眠，等待唤醒。timer interrupt在每次
更新 ticks 的时候也会更新 time_sleep_list，检查是否存在需要唤醒的线程。
唤醒后运行 thread_yield()，将其放入就绪队列中。

>> A3: What steps are taken to minimize the amount of time spent in
>> the timer interrupt handler?

time_sleep_list 采用链表结构，既满足了高效地动态添加和删除节点，在遍历
的时候也具有很好的性能。没有多余的性能损耗。

---- SYNCHRONIZATION ----

>> A4: How are race conditions avoided when multiple threads call
>> timer_sleep() simultaneously?

通过禁用中断，避免了外部中断。所以能确保在 time_sleep_list_elem 被放置
到 time_sleep_list 中之前 ticks 和 time_sleep_list 不会被修改。

>> A5: How are race conditions avoided when a timer interrupt occurs
>> during a call to timer_sleep()?

通过禁用中断，避免timer interupt发生在函数期间。

---- RATIONALE ----

>> A6: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

该设计类似于Pintos中的 ready_list 和 all_list，易于动态添加和删除节点。最早
考虑的设计直接存储节点，但它无法处理多个线程调用的情况。

             PRIORITY SCHEDULING
             ===================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

>> B2: Explain the data structure used to track priority donation.
>> Use ASCII art to diagram a nested donation.  (Alternately, submit a
>> .png file.)

---- ALGORITHMS ----

>> B3: How do you ensure that the highest priority thread waiting for
>> a lock, semaphore, or condition variable wakes up first?

>> B4: Describe the sequence of events when a call to lock_acquire()
>> causes a priority donation.  How is nested donation handled?

>> B5: Describe the sequence of events when lock_release() is called
>> on a lock that a higher-priority thread is waiting for.

---- SYNCHRONIZATION ----

>> B6: Describe a potential race in thread_set_priority() and explain
>> how your implementation avoids it.  Can you use a lock to avoid
>> this race?

---- RATIONALE ----

>> B7: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

              ADVANCED SCHEDULER
              ==================

---- DATA STRUCTURES ----

>> C1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

---- ALGORITHMS ----

>> C2: Suppose threads A, B, and C have nice values 0, 1, and 2.  Each
>> has a recent_cpu value of 0.  Fill in the table below showing the
>> scheduling decision and the priority and recent_cpu values for each
>> thread after each given number of timer ticks:

timer  recent_cpu    priority   thread
ticks   A   B   C   A   B   C   to run
-----  --  --  --  --  --  --   ------
 0
 4
 8
12
16
20
24
28
32
36

>> C3: Did any ambiguities in the scheduler specification make values
>> in the table uncertain?  If so, what rule did you use to resolve
>> them?  Does this match the behavior of your scheduler?

>> C4: How is the way you divided the cost of scheduling between code
>> inside and outside interrupt context likely to affect performance?

---- RATIONALE ----

>> C5: Briefly critique your design, pointing out advantages and
>> disadvantages in your design choices.  If you were to have extra
>> time to work on this part of the project, how might you choose to
>> refine or improve your design?

>> C6: The assignment explains arithmetic for fixed-point math in
>> detail, but it leaves it open to you to implement it.  Why did you
>> decide to implement it the way you did?  If you created an
>> abstraction layer for fixed-point math, that is, an abstract data
>> type and/or a set of functions or macros to manipulate fixed-point
>> numbers, why did you do so?  If not, why not?

               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

>> Any other comments?
